<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script> <!--link to vue.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> <!--link to fontawseome-->
    <!--<script src="classes_cw.json"></script>--><!--link to classes_cw.js-->
    <link rel="stylesheet" href="classes_cw.css"> <!--link to classes_cw.css-->
    
    <title>After School Lessons</title>
    
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1> <!-- displays the name of the site-->
            <!--cart button, only enabled when at least one item is in the cart-->
            <div>
                <button v-if="cartItemCount > 0" @click="toggleView">
                    {{cartItemCount}} <i class="fa-solid fa-cart-shopping"></i>
                    Shopping Cart
                </button>

                <button v-else disabled>
                    <i class="fa-solid fa-cart-shopping"></i>
                    Shopping Cart
                </button>
            </div>
        </header>

        <main>
            <!--sorting functionality-->
            <div>
                <div class ="sort-container">
                    <div class = "sort-selection">
                        <p><strong>Sort by</strong></p>
                        <label><input type="radio" value="subject" v-model="sortBy"> Subject</label>
                        <label><input type="radio" value="location" v-model="sortBy"> Location</label>
                        <label><input type="radio" value="price" v-model="sortBy"> Price</label>
                        <label><input type="radio" value="spaces" v-model="sortBy"> Availability</label>
                    </div>

                    <div class="sort-selection">
                        <p><strong>Order</strong></p>
                        <label><input type="radio" value="acs" v-model="sortOrder"> Ascending</label>
                        <label><input type="radio" value="desc" v-model="sortOrder"> Descending</label>
                    </div>
                </div>

                <!--list of lessons displayed using v-for-->
                <div class="container" v-if="showClasses">
                    <div v-for="classItem in sortedClasses" :key="classItem.id" class="lesson-item"> 
                        <div class="lesson-info"> <!--container for text-->
                            <!--lesson details-->
                            <p><strong>Subject: </strong>{{classItem.subject}}</p>
                            <p><strong>Location: </strong>{{classItem.location}}</p>
                            <p><strong>Price: £</strong>{{classItem.price}}</p>
                            <p><strong>Spaces: </strong>{{classItem.spaces - cartCount(classItem.id)}}</p>

                            <!--add to cart button, only enabled if space > 0-->
                            <button @click="addToCart(classItem)" :disabled="classItem.spaces === cartCount(classItem.id)">Add to cart</button>
                            <span v-if="classItem.spaces === cartCount(classItem.id)">No Space Left.</span>
                            <span v-else-if="classItem.spaces - cartCount(classItem.id) < 5">Only {{classItem.spaces - cartCount(classItem.id)}} left!</span>
                        </div>
                        <figure> <img v-bind:src="'http://localhost:8765/images/' + classItem.iconClass" width="100" height="100"></figure>
                    </div>
                </div>
                
                <!--cart pale when showClasses is false-->
                <div v-else>
                        <div class="checkout-header">
                            <h2>Welcome to checkout!</h2>
                            <p>Details of the cart</p>
                        </div>

                        <div class="container">
                            <div v-for="classItem in cartDetails" :key="classItem.id" class="lesson-item">
                                <div class ="lesson-info">
                                <!--cart item details-->
                                <p><strong>Subject: </strong>{{classItem.subject}}</p>
                                <p><strong>Location: </strong>{{classItem.location}}</p>
                                <p><strong>Price: £</strong>{{classItem.price}}</p>
                                <p><strong>Spaces: </strong>{{cartCount(classItem.id)}}</p>
                                
                                <!--removes item from cart-->
                                <button @click="removeFromCart(classItem)">Remove</button>
                                </div>
                                    
                                <figure><img v-bind:src ="'http://localhost:8765/images/' + classItem.iconClass" width ="100" height="100"></figure>                    
                            </div>
                        </div>
                    
                    <!--check-out name and phone validation-->
                    <div class="checkout-form">
                        <p>
                            <strong>Name:</strong>
                            <input v-model = "order.name">
                        </p>

                        <p>
                            <strong>Number:</strong>
                            <input v-model = "order.phoneNumber">
                        </p>
                        <!--checkout button is enabled when name and phone are inputted-->
                        <button v-if="order.name !== '' && order.phoneNumber !== ''" @click="submitForm">
                            Check Out
                        </button>

                        <button v-else disabled> Check Out</button>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename:'After School Classes & Activities',
                showClasses: true,
                sortBy: 'price',
                sortOrder: 'asc',
                classes:[], //lessons data imported from classes_cw.json
                cart:[], //array to hold cart items
                order: {
                    name: '',
                    phoneNumber: ''
                }
            },

            created: function() {
            fetch("http://localhost:8765/lessons")
                .then(response => response.json())
                .then(json => {
                    this.classes = json; // Correctly assigns the fetched data to the `classes` array
                })
                .catch(error => console.error('Error fetching classes:', error));
        },
            
            methods: {
                // toggles between lessons page and checkout page
                toggleView(){
                    this.showClasses = !this.showClasses;
                },

                //adds lesson to the cart if space is available
                addToCart(classItem){
                    if (classItem.spaces > this.cartCount(classItem.id)){
                        this.cart.push(classItem.id);
                    }
                },

                //checks if the lesson can be added to the cart (space availability)
                canAddToCart(classItem){
                    return classItem.spaces > this.cartCount(classItem.id);
                },

                //counts the number of times a lesson is added to the cart
                cartCount(id){
                    let count=0;
                    for(let i=0; i<this.cart.length; i++) {
                        if (this.cart[i] === id){
                            count++
                        }
                    }
                    return count;
                },

                //removes lesson from the cart
                removeFromCart(classItem){
                    const index = this.cart.indexOf(classItem.id);
                    if(index !== -1) {
                        this.cart.splice(index, 1);
                    }
                },

                //validates the checkout form and submits the form 
                submitForm(){
                    const namePattern = /^[A-Za-z\s]+$/; //name validation
                    const phonePattern = /^\d+$/; //phone number validation
                    
                    if(this.order.name === '' || this.order.phoneNumber === '') {
                        alert('Please enter your name and phone number');
                    } else if (!namePattern.test(this.order.name)) {
                        alert('Name must be letters only.')
                    } else if (!phonePattern.test(this.order.phoneNumber)) {
                        alert('Phone Number must be numbers only.')
                    } else {
                        //data gathered after submitting [lesson id & quanities]
                        const orderData ={
                            name: this.order.name,
                            phoneNumber: this.order.phoneNumber,
                            lessonIDs: this.cartDetails.map(item => ({
                                lessonID: item.id,
                                spaces: item.quantity //number of spaces ordered for each lesson
                            }))
                        };

                        fetch("http://localhost:8765/order", {
                            method: "POST",
                            headers: {"content-type":"application/json"},
                            body: JSON.stringify(orderData) //this converst the data to json
                        })
                        .then(response => response.json())
                        .then(data => {
                            if(data.message) {
                                alert('Order Submitted, Thank you!'); //success message
                                this.cart = [];//resets the cart after successful submission
                                this.order.name='';
                                this.order.phoneNumber='';
                            } else {
                                alert('Order Submission Failed.');
                            }
                        })
                        .catch(error => {
                            console.error('Error submitting order:', error);
                            alert('There was an error submittin the order. Please try again.');
                        });
                    }
                }
            },

            computed: {
                // returns the total number of items in the cart
                cartItemCount(){
                    return this.cart.length || "";
                },
                
                // sorts the classes based on the selected sorting criteria 
                sortedClasses(){
                    let sortedArray=this.classes.slice(); // creates a copu of the classes array

                    sortedArray.sort((a,b) => {
                        let modifier = this.sortOrder === 'asc' ? 1 : -1; // determines the sort order (asc/desc)
                        // numeric sorting for price and spaces, and string sorting for subject and location
                        if (this.sortBy === 'price' || this.sortBy === 'spaces') {
                            return (a[this.sortBy] - b[this.sortBy]) * modifier // numeric sort for price and spaces
                        } else {
                            return a[this.sortBy].localeCompare(b[this.sortBy])* modifier //string sort for subject and location
                        }
                    });
                return sortedArray;
                },
                
                //returns an array of class items in the cart with quantities selected
                cartDetails(){
                    // reduce cart array to create an object with classItem Isd as keys and their quantities as values
                    let cartItems = this.cart.reduce((acc, id) => {
                        let classItem = this.classes.find(c => c.id === id);
                        if (classItem) {
                            if (!acc[classItem.id]) {
                                acc[classItem.id]={...classItem, quantity:1}; // initialise with 1 if not found
                            } else {
                                acc[classItem.id].quantity++; //increment the quantity if already in the cart
                            }
                        }
                        return acc;
                    }, {});
                    return Object.values(cartItems); //converts the object back to an array of cart items with quantities
                }
            }

        });

    </script>
</body>
</html>