<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script> <!--link to vue.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"> <!--link to fontawseome-->
    <script src="classes_cw.js"></script> <!--link to classes_cw.js-->
    <title>After School Lessons</title>
    
</head>
<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <div>
                <button v-if="cartItemCount > 0" @click="toggleView">
                    {{cartItemCount}} <i class="fa-solid fa-cart-shopping"></i>
                    Shopping Cart
                </button>

                <button v-else disabled>
                    <i class="fa-solid fa-cart-shopping"></i>
                    Shopping Cart
                </button>
            </div>
        </header>

        <main>
            <div>
                <div class = "container" v-if="showClasses">
                    </div>
                    <div v-for="classItem in sortedClasses" :key="classItem.id" class="lesson-item"> 
                        <div class="lesson-info"> <!--container for text-->
                        <p><strong>Subject: </strong>{{classItem.subject}}</p>
                        <p><strong>Location: </strong>{{classItem.location}}</p>
                        <p><strong>Price: £</strong>{{classItem.price}}</p>
                        <p><strong>Spaces: </strong>{{classItem.spaces - cartCount(classItem.id)}}</p>

                        
                        <button @click="addToCart(classItem)" :disabled="classItem.spaces === cartCount(classItem.id)">Add to cart</button>
                        <span v-if="classItem.spaces === cartCount(classItem.id)">No Space Left.</span>
                        <span v-else-if="classItem.spaces - cartCount(classItem.id) < 5">Only {{classItem.spaces - cartCount(classItem.id)}} left!</span>
                        </div>

                        <figure> <img v-bind:src="classItem.iconClass" width="100" height="100"></figure>
                    </div>
                </div>

                </div>
            </div>
        </main>
    </div>

    <script>
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'After School Classes & Activities',
                classes: classes,
                cart:[],
            },

            methods: {
                toggleView(){
                    this.showClasses = !this.showClasses;
                },

            },

            computed: {
                cartItemCount(){
                    return this.cart.length || "";
                },
            }
        })
    </script>
</body>
</html>